# ignore all bin directories
# matches "bin" in any subfolder
bin/
/bin/

# ignore custom build files
build/build
build/deploy
build/dist
build/externalLibs
build/project


# ignore all target directories
target/

# ignore all files ending with ~
*~ 
