<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="DATDIR">src/resources/</entry>
<entry key="MODDIR">src/resources/</entry>
<entry key="USE_DAT">TRUE</entry>
<entry key="USE_ILOG">TRUE</entry>
</properties>